[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
pandas = "*"
transformers = "*"
datasets = "*"
scikit-learn = "*"
accelerate = "*"
seqeval = "*"

[dev-packages]

[requires]
python_version = "3.8"
